@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete?</h1>

<form asp-action ="Delete" class="mt-4">
    <parial name="Partials/_DetailsAndDeletePartial"
    <div class="mt-4">

    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>