@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="mt-4">

    <partial name="Partials/_DetailsAndDeletePartial" />
<div class="mt-4">
 <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i> Edit</a>

        <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
</div>



