@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>

<form asp-action="Edit" class="mt-4">
    <partial name="Partials/_CreateAndEditPartial"/>
    <div class="mt-4">
    <button type="submit" class="btn btn-primary">Apply</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section ValidationSection {
    <partial name="_ValidationScriptsPartial" />

}