@model Employee
@{
    ViewData["Title"] = "Create Employee";
}

<h1>Create an Employee</h1>

<form asp-action="Create">

    <partial name="Partials/_CreateAndEditPartial" />



    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


@section ValidationSection {
    <partial name="_ValidationScriptsPartial" />

}