@model Employee
@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Are you sure you want to Delete the employee ?</h1>


<form asp-action="Delete">
    <label asp-for="Name">Employee Name</label>
    <input asp-for="Name" placeholder="Employee Name" readonly/>
    <br />

    <label asp-for="Age">Employee Age</label>
    <input asp-for="Age" placeholder="Employee Age" readonly />
    <br />
    <label asp-for="Address">Address</label>
    <input asp-for="Address" placeholder="Address" readonly />

    <br />
    <label asp-for="Email">Email</label>
    <input asp-for="Email" placeholder="Email" readonly />


    <br />
    <label asp-for="EmployeeType">EmployeeType</label>
    <input asp-for="EmployeeType" placeholder="EmployeeType" readonly />


    <br />
    <label asp-for="Gender">Gender</label>
    <input asp-for="Gender" placeholder="Gender" readonly />

    <br />
    <label asp-for="HiringDate">HiringDate</label>
    <input asp-for="HiringDate" placeholder="HiringDate" readonly />



    <br />
    <label asp-for="IsActive">IsActive</label>
    <input asp-for="IsActive" placeholder="IsActive" readonly />

    <br />
    <label asp-for="Phone">Phone</label>
    <input asp-for="Phone" placeholder="Phone" readonly />


    <br />
    <label asp-for="Salary">Salary</label>
    <input asp-for="Salary" placeholder="Salary" readonly />

    <button type="submit">Create</button>
    <a asp-action="Index">Back</a>
</form>
