@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Are you sure you want to delete?</h1>

<form asp-action="Delete">

    <partial name="Partials/_DetailsAndDeletePartial"/>



<button type="submit"  asp-route-id="@Model.ID" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</button>
<a  asp-action="Index" class="btn btn-secondary">Cancel</a>


</form>
