@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employee details</h1>


<partial name="Partials/_DetailsAndDeletePartial" />




<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>


