@model Employee
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Are you sure you want to Edit the employee ?</h1>


<form asp-action="Edit">
    <label asp-for="Name">Employee Name</label>
    <input asp-for="Name" placeholder="Employee Name"  />
    <br />

    <label asp-for="Age">Employee Age</label>
    <input asp-for="Age" placeholder="Employee Age"  />
    <br />
    <label asp-for="Address">Address</label>
    <input asp-for="Address" placeholder="Address"  />

    <br />
    <label asp-for="Email">Email</label>
    <input asp-for="Email" placeholder="Email"  />


    <br />
    <label asp-for="EmployeeType">EmployeeType</label>
    <input asp-for="EmployeeType" placeholder="EmployeeType"  />


    <br />
    <label asp-for="Gender">Gender</label>
    <input asp-for="Gender" placeholder="Gender"  />

    <br />
    <label asp-for="HiringDate">HiringDate</label>
    <input asp-for="HiringDate" placeholder="HiringDate"  />



    <br />
    <label asp-for="IsActive">IsActive</label>
    <input asp-for="IsActive" placeholder="IsActive"  />

    <br />
    <label asp-for="Phone">Phone</label>
    <input asp-for="Phone" placeholder="Phone"  />


    <br />
    <label asp-for="Salary">Salary</label>
    <input asp-for="Salary" placeholder="Salary"  />

    <button type="submit">Create</button>
    <a asp-action="Index">Back</a>
</form>
