@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit an Employee</h1>

<form asp-action="Edit">
   
    <partial name="Partials/_CreateAndEditPartial" />


    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section ValidationSection{
    <partial name="_ValidationScriptsPartial" />
}
